@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $menuBar-bg;
  justify-content: space-around;
  position: relative;

  .search_wrapper {
    margin: 25px 0;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $menuBar-text;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menuBar-bg;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $menuBar-hover;
        color: $menuBar-bg;
        border-color: $menuBar-hover;
      }

      &.active {
        border-color: $menuBar-text;
      }
    }
  }
  .icon_menu {
    display: none;
  }

  .mobile_navigation {
    display: none;
  }

  @include for-tablet {
    .icon_menu {
      display: block;
    }

    .navigation {
      display: none;
    }

    .mobile_navigation {
      margin-top: 5px;
      display: block;
    }

    div > div {
      flex-wrap: nowrap;
    }
  }
}

.menu_mob {
  border: 1px solid #000;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 15;
  background-color: $menuBurger-bg;
  width: 100%;
  display: flex;
  flex-direction: column;
  ul li {
    list-style: none;
    margin: 15px 0;
    /* disable text selection highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* ----------- */
  }
  a {
    color: $menuBurger-text;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    &:hover,
    &.active {
      color: $menuBurger-hover;
    }
  }
}

/* menu icon styles */
.icon_menu {
  z-index: 5;
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  color: $menuBurger-ico;
}

.icon_menu span,
.icon_menu::before,
.icon_menu::after {
  left: 0;
  position: absolute;
  height: 15%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: $menuBurger-ico;
  border-radius: 4px;
}

.icon_menu::before,
.icon_menu::after {
  content: "";
}

.icon_menu::before {
  top: 0;
}

.icon_menu::after {
  bottom: 0;
}

.icon_menu span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
/* --------- */
