@import "../../../styles/settings.scss";

.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper:hover{
  .rate{
      visibility: visible;
  }
  .stars{
      visibility: hidden;
  }
}

.stars {
  visibility: hidden;
  a {
    text-decoration: none;
    color: $productBox-stars;
  }
}

.rate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  a {
    text-decoration: none;
    color: $productBox-hover
  }
}

.active{
  visibility: visible;
}
