@import "../../../styles/settings.scss";

.tooltip {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .tooltiptext {
    margin: 0;
    width: 120px;
    background-color: $tooltip-bg;
    color: $tooltip-text;
    text-align: center;
    padding: 5px 0;
    visibility: hidden;

    position: absolute;
    bottom: 0;
    left: 125%;
  }

 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 35%;
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $gallery-category transparent transparent;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
