$base-padding: 24px;

@mixin for-mobile-s {
  @media (max-width: 320px) { @content; }
}
@mixin for-mobile-m {
  @media (max-width: 375px) { @content; }
}
@mixin for-mobile-l {
  @media (max-width: 425px) { @content; }
}
@mixin for-tablet {
  @media (max-width: 768px) { @content; }
}
@mixin for-laptop {
  @media (max-width: 1024px) { @content; }
}
@mixin for-laptop-l {
  @media (max-width: 1440px) { @content; }
}
@mixin for-4k {
  @media (max-width: 2560px) { @content; }
}

// ---------- COLORS - DO NOT USE IN CODE DIRECTLY, see below ----------

$white: #ffffff;
$darkOrange: #d58e32;

$darkGrayOne: #2a2a2a;
$darkGrayTwo: #292929;
$darkGrayThree: #363636;
$darkGrayFour: #434343;

$grayOne: #a5a5a5;
$grayTwo: #a9a9a9;
$grayThree: #b6b6b6;

$lightGrayOne: #d8d8d8;
$lightGrayTwo: #e0e3ed;
$lightGrayThree: #e1e1e1;
$lightGrayFour: #e2e2e2;
$lightGrayFive: #f4f5f7;

// ---------- COLOR VARIABLES - TO BE USED ----------

// button
$button-bg: $darkGrayOne;
$button-light-bg: $white;
$button-light-text: $darkGrayOne;
$button-text: $white;
$button-hover: $darkOrange;

// compare
$compare-sticky-border: $darkOrange;
$compare-sticky-bg: $lightGrayFive;

// feature box
$featureBox-border: $grayThree;
$featureBox-text: $darkGrayOne;
$featureBox-bg: $white;
$featureBox-hover: $darkOrange;

// product box
$productBox-bg: $white;
$productBox-border: $lightGrayThree;
$productBox-sale-box: $darkGrayTwo;
$productBox-stars: $darkGrayOne;
$productBox-hover: $darkOrange;
$productBox-old-price: $grayOne;

// new furniture
$furniture-border: $lightGrayFour;
$furniture-category: $darkGrayOne;
$furniture-hover: $darkOrange;
$furniture-button-bg: $white;
$furniture-page-switch: $lightGrayThree;

// product search
$search-border: $darkGrayTwo;
$search-bg: $white;
$search-text: $darkGrayOne;
$search-hover: $darkOrange;

// promoted
$promoted-bg: $darkGrayOne;
$promoted-light-bg: $white;
$promoted-text: $white;
$promoted-hover: $darkOrange;
$promoted-stars: $darkGrayOne;
$promoted-old-price: $grayOne;

// company claim (header)
$header-bg: $darkGrayThree;
$header-icon: $darkOrange;
$header-number: $lightGrayOne;
$header-cart-icon: $white;
$header-cart-counter: $lightGrayTwo;

// footer
$footer-bg: $darkGrayThree;
$footer-claim-bg: $darkGrayOne;
$footer-primaty-text: $white;
$footer-secondary-text: $grayTwo;
$footer-hover: $darkOrange;

// menu bar
$menuBar-bg: $white;
$menuBar-text: $darkGrayOne;
$menuBar-hover: $darkOrange;

// top bar
$topBar-bg: $darkGrayFour;
$topBar-hover: $darkOrange;
$topBar-text: $white;

// promotions
$promotions-primary-text: $white;
$promotions-secondary-text: $darkOrange;
$promotions-shadow-bg: $darkGrayOne;
$promotions-primary-bg: #E9EDF7;
$promotions-secondary-bg: #FAF2F8;
