@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-bg;
  border: 1px solid $productBox-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    width: 100%;
    height: 300px;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .image{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productBox-sale-box;
      border-radius: 50%;
      color: $productBox-bg;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: none;
    }
  }

  .photo:hover {
    .buttons {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }

  }
  .photo:hover ~.actions .pricesContainer :nth-last-of-type(1){
    background-color: $productBox-hover;
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $productBox-hover;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $productBox-stars;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productBox-stars;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $productBox-hover;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .outlines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .comparing {
    background-color: $productBox-hover;
  }

  .pricesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5px;

    .oldPrice {
      text-decoration: line-through;
      font-size: 13px;
      color: $productBox-old-price;
    }

    .noOldPrice {
      display: none;
    }
  }

  .outlines .buttonFavorite:hover, .isFavorite {
    border: 1px solid $productBox-hover;
    background-color: $productBox-hover;
    color: $productBox-bg;
  }

  .buttonCompare:hover, .comparing {
    border: 1px solid $productBox-hover;
    background-color: $productBox-hover;
    color: #ffffff;
  }
}
